@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');
    html, body {
    margin: 0;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background: radial-gradient(circle at top left, #64ab98 0%, #064E3B 35% ,#033b2c 100%);
    background-attachment: fixed;
}
::selection {
  background-color: #65a36b;
  color: white;
}
