.navbar{
    display: flex;
    justify-content: center;
    gap:45%;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;           
    box-sizing: border-box; 
    z-index: 1000;
}
.links{
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    font-size: large;
}

.links a {
    text-decoration: none; 
    color: rgb(255, 251, 251);
    white-space: nowrap;
    transition: 0.5s ease;
}

.links a:hover {
    text-decoration: underline; 
    color:rgb(238, 183, 112);
}

.login{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.login button {
    height: 2.3rem;
    border-radius: 20px;
    width: 5.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.state{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(192, 192, 192);
}
.state button {
    color: rgb(192, 192, 192);
    border: 1px solid #542f12;
    border-radius: 20px;
    background: transparent;
    font-weight: bold;
    transition: 0.2s;
    width: 8rem;
    height: 2rem;    
}
.hi{
    margin-right: 10%;
    white-space: nowrap;
}
.loginbtn{
    color: rgb(192, 192, 192);
    border: 1px solid #542f12;
    background: transparent;
    font-weight: bold;
    transition: 0.2s;
}

.signupbtn{
    color: #542f12;
    border: none;
    background: rgb(192, 192, 192);
    font-weight: bold;
    transition: 0.2s;
}

button:hover{
    text-decoration: underline;
    transform: translateY(-2px);
}
.state button:hover{
    background-color: #542f12;
    color:white;
    opacity: 0.9;
}